/* ===============================
   Albertus Nova
   =============================== */

@font-face {
  font-family: "Albertus Nova";
  font-style: normal;
  font-weight: 100;
  src: url("/portfolio/fonts/albertusnovathin.woff2") format("woff2");
  font-display: optional;
}

@font-face {
  font-family: "Albertus Nova";
  font-style: normal;
  font-weight: 300;
  src: url("/portfolio/fonts/albertusnovalight.woff2") format("woff2");
  font-display: optional;
}

@font-face {
  font-family: "Albertus Nova";
  src: url("/fonts/albertusnova.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Albertus Nova";
  font-style: normal;
  font-weight: 700;
  src: url("/portfolio/fonts/albertusnovabold.woff2") format("woff2");
  font-display: optional;
}

@font-face {
  font-family: "Albertus Nova";
  font-style: normal;
  font-weight: 900;
  src: url("/portfolio/fonts/albertusnovablack.woff2") format("woff2");
  font-display: optional;
}

/* ===============================
   Banto
   =============================== */

@font-face {
  font-family: "Banto";
  font-style: normal;
  font-weight: 200;
  src: url("/portfolio/fonts/Banto-ExtraLight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: italic;
  font-weight: 200;
  src: url("/portfolio/fonts/Banto-ExtraLightItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: normal;
  font-weight: 300;
  src: url("/portfolio/fonts/Banto-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: italic;
  font-weight: 300;
  src: url("/portfolio/fonts/Banto-LightItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: normal;
  font-weight: 400;
  src: url("/portfolio/fonts/Banto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: italic;
  font-weight: 400;
  src: url("/portfolio/fonts/Banto-RegularItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: normal;
  font-weight: 500;
  src: url("/portfolio/fonts/Banto-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: italic;
  font-weight: 500;
  src: url("/portfolio/fonts/Banto-MediumItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: normal;
  font-weight: 700;
  src: url("/portfolio/fonts/Banto-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: italic;
  font-weight: 700;
  src: url("/portfolio/fonts/Banto-BoldItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: normal;
  font-weight: 800;
  src: url("/portfolio/fonts/Banto-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Banto";
  font-style: italic;
  font-weight: 800;
  src: url("/portfolio/fonts/Banto-ExtraBoldItalic.woff2") format("woff2");
  font-display: swap;
}

/* ===============================
   Gilroy
   =============================== */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 100;
  src: url("/portfolio/fonts/Gilroy-Thin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("/portfolio/fonts/Gilroy-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("/portfolio/fonts/Gilroy-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("/portfolio/fonts/Gilroy-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("/portfolio/fonts/Gilroy-Bold.woff2") format("woff2");
  font-display: swap;
}

/* ===============================
   CodeSaver
   =============================== */

@font-face {
  font-family: "CodeSaver";
  font-style: normal;
  font-weight: 400;
  src: url("/portfolio/fonts/CodeSaver-Regular.woff2") format("woff2");
  font-display: swap;
}