/* Lock theme toggle size so layout never shifts */
#theme-toggle {
  width: 24px;
  height: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0rem;
  transform: translateY(-6px);
}

#theme-toggle img {
  position: absolute;
  width: 12px;
  height: 12px;
}




#theme-toggle {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
}

#theme-toggle svg {
  display: block;
}

/* show moon by default (light mode) */
#moon {
  display: block;
}

#sun {
  display: none;
}

/* dark mode */
body.dark #moon {
  display: none;
}

body.dark #sun {
  display: block;
}