<script>
(function () {
  const theme = localStorage.getItem("pref-theme");
  if (theme === "dark") {
    document.documentElement.setAttribute("data-theme", "dark");
  } else if (theme === "light") {
    document.documentElement.setAttribute("data-theme", "light");
  }
})();
</script>

<link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">

<link rel="preload" href="{{ "fonts/Gilroy-Light.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/Gilroy-Regular.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/Gilroy-Medium.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/albertusnova.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/Banto-Regular.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/CodeSaver-Regular.woff2" | relURL }}" as="font" type="font/woff2" crossorigin>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">

{{ $styles := slice
(resources.Get "css/extended/sliders.css")
(resources.Get "css/extended/accordion.css")
| resources.Concat "css/custom.css"
| minify
}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">

{{ $copyCSS := resources.Get "css/extended/copyurl.css" | minify }}
<link rel="stylesheet" href="{{ $copyCSS.RelPermalink }}">

<link rel="stylesheet" href="{{ "css/typography.css" | relURL }}">