<link rel="preload" href="../static/fonts/Gilroy-Light.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../static/fonts/Gilroy-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../static/fonts/Gilroy-Medium.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../static/fonts/AlbertusNova.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../static/fonts/Banto-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="../static/fonts/CodeSaver-Regular.woff2" as="font" type="font/woff2" crossorigin>

<link rel="stylesheet" href="{{ "css/typography.css" | relURL }}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">

{{ $styles := slice
    (resources.Get "css/extended/sliders.css")
    (resources.Get "css/extended/accordion.css")
    | resources.Concat "css/custom.css"
    | minify
}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">

{{ $copyCSS := resources.Get "css/extended/copyurl.css" | minify }}
<link rel="stylesheet" href="{{ $copyCSS.RelPermalink }}">

<!-- MUST BE LAST -->
<link rel="stylesheet" href="/css/typography.css">