<div class="swiper-slide"
  data-type="{{ .Get "type" }}"
  data-src="{{ .Get "src" | relURL }}"
  data-caption="{{ .Get "caption" }}"
  data-overlayposter="{{ .Get "overlayposter" | relURL }}"
>

  {{ if eq (.Get "type") "video" }}

    <div class="slide-video-thumb">
      <video
        class="slide-inline-video"
        preload="auto"
        poster="{{ .Get "poster" | relURL }}"
        playsinline
        muted
        controls
      >
        <source src="{{ .Get "src" | relURL }}" type="video/mp4">
      </video>

      <button class="video-play-overlay" type="button" aria-label="Play video">▶</button>
    </div>

  {{ else }}

    <div class="slide-image-thumb">
      <img src="{{ .Get "src" | relURL }}" alt="">
    </div>

  {{ end }}

</div>